.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 40px;
}

.anime-card {
  background: #1a1a2e;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.anime-card img {
  width: 100%;
  border-radius: 10px;
}

.anime-card:hover {
  transform: scale(1.05);
}
